[Unit]
Description=kafka
After=local-fs.target

[Container]
ContainerName=kafka-2
Image=docker.io/apache/kafka:4.1.0
Network=kafkanet.network
PublishPort=39092:9092
HostName=kafka-2
Environment=KAFKA_NODE_ID=2
Environment=KAFKA_PROCESS_ROLES='broker,controller'
Environment=KAFKA_LISTENERS='INTERNAL://:19092,CONTROLLER://kafka-2:29093,EXTERNAL://:9092'
Environment=KAFKA_INTER_BROKER_LISTENER_NAME='INTERNAL'
Environment=KAFKA_SECURITY_PROTOCOL='SASL_SSL'
Environment=KAFKA_ADVERTISED_LISTENERS='INTERNAL://kafka-2:19092,EXTERNAL://192.168.56.209:39092'
Environment=KAFKA_CONTROLLER_LISTENER_NAMES='CONTROLLER'
Environment=KAFKA_LISTENER_SECURITY_PROTOCOL_MAP='INTERNAL:SASL_SSL,CONTROLLER:SASL_SSL,EXTERNAL:SASL_SSL'
Environment=KAFKA_CONTROLLER_QUORUM_VOTERS='1@kafka-1:29093,2@kafka-2:29093,3@kafka-3:29093'
Environment=KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
Environment=KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
Environment=KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
Environment=KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
Environment=KAFKA_NUM_PARTITIONS=3
Environment=KAFKA_OPTS='-Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf'
Environment=KAFKA_SSL_CLIENT_AUTH='required'
Environment=KAFKA_SSL_KEYSTORE_LOCATION='/etc/kafka/secrets/kafka-2-keystore.jks'
Environment=KAFKA_SSL_KEYSTORE_PASSWORD='test2025'
Environment=KAFKA_SSL_KEY_PASSWORD='test2025'
Environment=KAFKA_SSL_TRUSTSTORE_LOCATION='/etc/kafka/secrets/server.truststore.jks'
Environment=KAFKA_SSL_TRUSTSTORE_PASSWORD='test2027'
Environment=KAFKA_SASL_MECHANISM='SCRAM-SHA-512'
Environment=KAFKA_SASL_MECHANISM_CONTROLLER_PROTOCOL='PLAIN'
Environment=KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL='SCRAM-SHA-512'
Environment=KAFKA_SASL_ENABLED_MECHANISMS='PLAIN,SCRAM-SHA-512'
Environment=KAFKA_LOG_DIRS='/tmp/kraft-combined-logs'
Environment=CLUSTER_ID='h6446m6i9UHem180lrU0Jg'
Timezone=Europe/Paris
Volume=/home/vagrant/kafka/data2:/tmp/kraft-combined-logs:Z
Volume=/home/vagrant/kafka/kafka_server_saslscram_jaas.conf:/etc/kafka/kafka_server_jaas.conf:z
Volume=/home/vagrant/kafka/ssl:/etc/kafka/secrets:z

[Service]
Restart=always

[Install]
WantedBy=default.target