[Unit]
Description=Keycloak image 26.4
After=network-online.target,local-fs.target

[Container]
ContainerName=keycloak
Image=quay.io/keycloak/keycloak:26.4
Network=host
Exec=start
Environment=KC_DB=mariadb
Environment=KC_DB_URL_HOST=127.0.0.1
Environment=KC_DB_URL_PORT=3306
Environment=KC_DB_URL_DATABASE=keycloak
Environment=KC_DB_USERNAME=keycloak
Environment=KC_HTTP_ENABLED=false
Environment=KC_HTTPS_KEY_STORE_FILE=/opt/keycloak/keycloak-keystore.p12
Environment=KC_HTTPS_KEY_STORE_PASSWORD='keycloak2025'
Environment=KC_HTTPS_TRUST_STORE_FILE=/opt/keycloak/keycloak-truststore.p12
Environment=KC_HTTPS_TRUST_STORE_PASSWORD='keycloak2027'
Environment=KC_TLS_HOSTNAME_VERIFIER='DEFAULT'
Environment=KC_HTTPS_CLIENT_AUTH='request'
Environment=KC_HTTPS_PORT=8443
Environment=KC_HTTPS_PROTOCOLS='TLSv1.3,TLSv1.2'
Environment=KC_HOSTNAME='https://oauth.devsecops-dojo.sandbox:8443'
Environment=KC_HOSTNAME_ADMIN='https://oauth.devsecops-dojo.sandbox:8443'
Environment=KC_BOOTSTRAP_ADMIN_USERNAME='admin'
Secret=mariadbpassword,type=env,target=KC_DB_PASSWORD
Secret=keycloakpassword,type=env,target=KC_BOOTSTRAP_ADMIN_PASSWORD
Timezone=Europe/Paris
Volume=/home/vagrant/keycloak/ssl/keycloak-keystore.p12:/opt/keycloak/keycloak-keystore.p12:Z
Volume=/home/vagrant/keycloak/ssl/keycloak-truststore.p12:/opt/keycloak/keycloak-truststore.p12:Z

[Service]
Restart=always

[Install]
WantedBy=default.target